<% if user_signed_in? %>
<b>
<% if @listing.user_id == current_user.id %>
  <%= link_to 'Edit', edit_listing_path(@listing),  :class => 'btn btn-success' %> 
  <%= link_to 'Remove', @listing, :confirm => 'Are you sure?', :method => :delete,  :class => 'btn btn-success' %> 
  <%= link_to 'View All Listings', listings_path, :class => 'btn btn-success' %>
<% else %>
  <!--<%= link_to 'View All Listings', listings_path, :class => 'btn btn-success' %>  -->
<% end %>
</b>
<%end%>

<div class="hero-unit-internal">
<div class ="pull-right">
<% if !defined?(@listing.photo).nil? %>
	<%= link_to image_tag(listing.photo.url(:small)),listing %>
<% end %>
</div>
<b><%= @listing.food_category.nil? ? "" : "Food category:  " + @listing.food_category.name %> </b>
<br>
<h3 style ="color:#3B2501"><%= @listing.title %></h3>
<br>Listed by : 
<% fullname = @listing.user.profile.try{ |l| "{#l.full_name}"}  %>
	<% if fullname.nil?  %>
		<%=  "No Name" %>
	<% else %>
		<%= link_to @listing.user.profile.full_name, profile_path(@listing.user.profile.slug) %>
	<% end%>

</div>

<div class="row ">
	<div class="span4 round-box-internal">
	<b>Description</b>
	 <br><%= @listing.description.html_safe %>
	</div>

	<div class="span4 round-box-internal">
	<b>Start date</b>
	  <%= time_tag @listing.start_date %>
	<p>
	<b>End date</b>
	<%= time_tag @listing.end_date %>
	</p>  
	</div>
</div>


<div class="row">
	<div class="span4 round-box-internal">
	<b>Food type</b><br />
	<ol><% @listing.tags.each do |f| %>
	<li><%= f.name %></li>
	<% end %></ol>
	</div>

	<div class="span4 round-box-internal">
	<b>Availablity Duration</b>&nbsp;&nbsp;
	<% if ( @listing.end_date - Date.today() ).to_i < 0 %>
	<p style = color:darkorange;font-size:20px> <b>"Sorry !..this Listing Has Expired "</b> </p>
	<% else %>
	<%= distance_of_time_in_words(Time.now, @listing.end_date +  50.minute) %></td>
	<% end %>
	</p>
	</div>
</div>

<div class="row">
	<div class="span4 round-box-internal">
	<b>Suggested Storage</b>
	<%= @listing.eat_by_date.name if !@listing.eat_by_date.nil? %>
	</div>
</div>
<hr>

<p style = "border:3px solid #333333;width:400px;padding:0px;border-radius:8px;">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=14&markers=#{@listing.latitude}%2C#{@listing.longitude}" %>
</p>
<br />

<b><%= pluralize(@listing.comments.size, 'comment') %></b>
  <% if !user_signed_in? %>
	<%= link_to 'Log in to add comments', new_user_session_path, :class=>'top_btn_underline' %>
  <% end %>
  <br>
<style>

#comment
{
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
border-radius: 8px;
line-height: 130%;
padding : 4px;
}

#avatar
{
float: left;
width: 160px;
}

#content
{
margin-left: 200px;
border-left: 1px solid gray;
padding: 1em;
background:#FAF5F5;
max-width: 36em;
color:#000000;
}

</style>

<% for comment in @listing.comments %>
<br clear="left">
<div id ="comment">
<% if user_signed_in? %>
	 <div id ="avatar" style ="padding-left:25px;padding:20px;">
	
		  <% if !defined? listing.user.profile.photo%>
			  <%= image_tag("../images/gravatar-60-giveo.jpg",{:size =>"50x50", :class=>"pull-left"})%>
		  <% else %>			 
			 <%= image_tag comment.user.profile.photo.url(:profile)  %>			
		  <% end %>

		<% fullname = comment.user.profile.try{ |l| "{#l.full_name}"}  %> 
		<% if fullname.nil?  %>
			<%=  "No Name" %>
		<% else %>
			<%= link_to comment.user.profile.full_name, profile_path(comment.user.profile.slug)%>
		<% end%>
		 
		 <br>
		 <em><%= comment.created_at.strftime('%m/%d/%y at %h:%M') %></em>
	</div>
	<div id ="content">
		<%=  comment.body.html_safe %><hr />
		<!--<%= comment.user_id %> <%= current_user.id %>-->
		<% if comment.user_id == current_user.id %>
		 <b><%= link_to 'Edit Comment', edit_comment_path(comment) %></b>
		<% end %>
	</div>
<% else %>
	<div id ="avatar" style ="padding-left:25px;padding:20px;">
	
		   <% if !defined? listing.user.profile.photo%>
			  <%= image_tag("../images/gravatar-60-giveo.jpg",{:size =>"50x50", :class=>"pull-left"}) %>			  
		  <% else %>
			 
			 <% comment_photo = comment.user.profile.photo.try{ |p| "{#l.url}"}  %> 
			<% if !comment_photo.nil?  %>
			    <% image_to_user = image_tag comment.user.profile.photo.url(:profile)  %> 	
				<%= link_to image_to_user, profile_path(comment.user.profile.slug)%>
			<% end%>
			 
			 
		  <% end %>
			<% fullname = comment.user.profile.try{ |l| "{#l.full_name}"}  %> 
			<% if fullname.nil?  %>
				<%=  "No Name" %>
			<% else %>
				<%= link_to comment.user.profile.full_name, profile_path(comment.user.profile.slug)%>
			<% end%>
		  <br>
		   <em><%= comment.created_at.strftime('%m/%d/%y at %h:%M') %></em>
	</div>
	<div id ="content">
		<%=  comment.body.html_safe %><hr />	
	</div>
<% end %>
</div>
<% end %>


<% if user_signed_in? %>
<%= render :partial => 'comments/form' %>
<%end%>
