<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
	
  <div class="row">
  <div class="span2 heavy"><%= f.label :location_name %></div><div class="span3"><%= f.text_field :address %></div>
  </div>
  
  <div class="row">
  <div class="span2 heavy"><%= f.label :street %></div><div class="span3"><%= f.text_field :street %> </div>
  </div>
  
  <div class="row">
  <div class="span2 heavy"><%= f.label :city %></div><div class="span3"><%= f.text_field :city %></div>
  </div>
  
  <div class="row">
  <div class="span2 heavy"><%= f.label :zip %></div><div class="span3"><%= f.text_field :zip %></div>
  </div>
  
  <div class="row">
  <div class="span2 heavy"><%= f.label :state %></div><div class="span3"><%= f.text_field :state %></div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
