<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Real.Good.Food</title>
    	<%= csrf_meta_tags %>
	<%= render 'layouts/stylesheets' %>    	
  </head>
  <body>

<div class="row">

<!-- logo -->
<div class="span2" style="margin-top:60px;">
	<% logo = image_tag("logo.jpg", :alt=>"Real Good Food") %>
	<%= link_to logo, root_path %>
</div>

<div class="span9" style="margin-top:10px;">	
	<!-- nav -->
	<ul class="nav nav-tabs">
	<li><a href="/">Home</a></li>
        <li <% if  controller.controller_name =='events' %>class="active"<%end%>><%= link_to "Events", events_path %></li>
        <li <% if  controller.controller_name =='listings' %>class="active"<%end%>><%= link_to "Listings", listings_path %></li>
        <li <% if  controller.controller_name =='groups' %>class="active"<%end%>><%= link_to "Groups", groups_path %></li>
 	<!--<li <% if  controller.controller_name =='blogs' %>class="active"<%end%>><%= link_to "Blog", blogs_path  %></li>-->
        <li <% if controller.controller_name =='sessions' or controller.controller_name =='registrations' or controller.controller_name =='profiles' %>class="active"<%end%>>
	<% if  user_signed_in? %>
	<%= link_to "Profile", profile_path(current_user)  %>
	<% else %>	
	<%= link_to "Sign In", new_user_session_path  %>
	<% end %>
	</li>	
	<% if user_signed_in? %>
	<div style="float:right;height:20px;">
			
		<% if !current_user.profile.nil? %>
		<ul class="nav nav-pills">
			<li class="dropdown" style ="color:white;float:right;">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.profile.full_name %> <b class="caret"></b></a>
			 <ul class="dropdown-menu" id="menu1">
				<li><%= link_to 'My Dashboard', dashboards_path %></li>
				<li><%= link_to 'My Profile', profile_path(current_user.profile.slug) %></li>
				<li><%= link_to 'Change Password', edit_user_registration_path %> </li>
				<li><%= link_to 'Add a Food Listing', new_listing_path %> </li>
				<li><%= link_to 'Add an Event', new_event_path %></li>
				<li class="divider"></li>
				<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
		  </ul>
		</li>
		</ul>	
		<% else %>
			<%= link_to "Create Profile", new_profile_path %>
	    <% end %>
	</div>
	<% end %>	
	</ul>
		
 </div>


<div class="row">
<div class="span9" style="margin-left:40px;">
<% unless flash[:notice].blank? %>
<div class="alert alert-success">
    <%= content_tag :div, flash[:notice] %>
  </div>
<% end %>

<% unless flash[:error].blank? %>
<div class="alert alert-error">
    <%= content_tag :div, flash[:error] %>
  </div>
<% end %>

<% unless flash[:alert].blank? %>
  <div class="alert-message warning">
    <%= content_tag :div, flash[:alert] %>
  </div>
<% end %>
</div>

<div class="row">
<div class="span9"><%= yield %></div>
</div>
<div class="row" style="margin-left:200px;"><div class="span9"><%= debug(params) if Rails.env.development? %></div></div>


    </div> 
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>




